 01_raw/
   02_working/
   03_arcgis/
   *.nc
   *.crf/
   *.gdb/
   *.aprx
   *.atbx
   *.lock
   .backups/
   ImportLog/
   Index/
   __pycache__/
   *.pyc
   .ipynb_checkpoints/
   Thumbs.db
   desktop.ini
